# =====================
# Python関連
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.ipynb_checkpoints
.env
.venv/
.envrc

# =====================
# VSCode/DevContainer
# =====================
.vscode/
.devcontainer/

# =====================
# Terraform
# =====================
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/*.tfstate*
terraform/.terraform.lock.hcl

# =====================
# Jupyter Notebook出力
# =====================
*.ipynb_checkpoints
*.nbconvert.ipynb

# =====================
# データ関連（大容量ファイルや中間生成物）
# =====================
*.zip
*.tar.gz
*.rar
*.7z

# 統計・マップ系中間ファイル
*.dbf
*.shx
*.prj
*.sbn
*.sbx
*.cpg
*.shp.xml

# geojson大量生成系
*.geojson

# QGISプロジェクトファイル
*.qgz
*.qgs~

# =====================
# その他個別除外（確認済みの大容量ファイル）
# =====================
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.93.0/darwin_amd64/terraform-provider-aws_v5.93.0_x5
major_results_2020.xlsx

