# Python関連
__pycache__/
*.pyc

# Jupyter Notebookチェックポイント
.ipynb_checkpoints/

# VSCode関連
.vscode/

# Terraform一時ファイル
terraform.tfstate
terraform.tfstate.backup
.terraform/

# OSによる不要ファイル
.DS_Store
Thumbs.db

# 出力画像やPDFなど（必要に応じて）
*.png
*.pdf

# QGISプロジェクトファイル（必要に応じて管理対象に含める）
*.qgz

# 大容量のマップ出力（QGIS→HTML）
app/static/qgis_map/

# その他一時ファイルや出力物
*.zip
*.log

