# Python関連
__pycache__/
*.pyc

# Jupyter Notebookチェックポイント
.ipynb_checkpoints/

# VSCode関連
.vscode/

# Terraform一時ファイル
terraform.tfstate
terraform.tfstate.backup
.terraform/

# OSによる不要ファイル
.DS_Store
Thumbs.db

# 出力画像やPDFなど（必要に応じて）
*.png
*.pdf
*.log

# QGISプロジェクトファイル（必要に応じて管理対象に含める）
*.qgz

# QGIS Webエクスポート出力（大容量）
app/static/qgis_map/

# 地理データ（サイズ大きいためGitではなくLFS推奨 or 除外）
*.shp
*.shx
*.dbf
*.prj
*.geojson
*.xml
*.sbn
*.sbx
*.cpg

# 出力用JavaScript等（qgis2webが生成）
*.js

# ノートブック一時ファイル
*.ipynb_checkpoints/

# 圧縮ファイル
*.zip

# Webフォントやビルド生成物（必要に応じて）
*.woff
*.woff2
*.ttf

# PDF設計資料など（Gitで管理しないなら）
*.pdf

data/**/*.dbf
data/**/*.shp
data/**/*.geojson
.terraform/

